LOCATE COMP "clk_12" SITE "B3";
IOBUF PORT "clk_12" IO_TYPE=LVCMOS33;

LOCATE COMP "btn[0]" SITE "Y32";
LOCATE COMP "btn[1]" SITE "W31";
LOCATE COMP "btn[2]" SITE "AD30";
LOCATE COMP "btn[3]" SITE "AD29";

IOBUF PORT "btn[0]" IO_TYPE=SSTL135_I;
IOBUF PORT "btn[1]" IO_TYPE=SSTL135_I;
IOBUF PORT "btn[2]" IO_TYPE=SSTL135_I;
IOBUF PORT "btn[3]" IO_TYPE=SSTL135_I;

LOCATE COMP "dip_sw[0]" SITE "AE31";
LOCATE COMP "dip_sw[1]" SITE "AE32";
LOCATE COMP "dip_sw[2]" SITE "AD32";
LOCATE COMP "dip_sw[3]" SITE "AC32";
LOCATE COMP "dip_sw[4]" SITE "AB32";
LOCATE COMP "dip_sw[5]" SITE "AB31";
LOCATE COMP "dip_sw[6]" SITE "AC31";
LOCATE COMP "dip_sw[7]" SITE "AC30";

IOBUF PORT "dip_sw[0]" IO_TYPE=SSTL135_I;
IOBUF PORT "dip_sw[1]" IO_TYPE=SSTL135_I;
IOBUF PORT "dip_sw[2]" IO_TYPE=SSTL135_I;
IOBUF PORT "dip_sw[3]" IO_TYPE=SSTL135_I;
IOBUF PORT "dip_sw[4]" IO_TYPE=SSTL135_I;
IOBUF PORT "dip_sw[5]" IO_TYPE=SSTL135_I;
IOBUF PORT "dip_sw[6]" IO_TYPE=SSTL135_I;
IOBUF PORT "dip_sw[7]" IO_TYPE=SSTL135_I;

LOCATE COMP "led[0]" SITE "C26";
LOCATE COMP "led[1]" SITE "D26";
LOCATE COMP "led[2]" SITE "A28";
LOCATE COMP "led[3]" SITE "A29";
LOCATE COMP "led[4]" SITE "A30";
LOCATE COMP "led[5]" SITE "AK29";
LOCATE COMP "led[6]" SITE "AH32";
LOCATE COMP "led[7]" SITE "AH30";
LOCATE COMP "led[8]" SITE "AH28";
LOCATE COMP "led[9]" SITE "AG30";
LOCATE COMP "led[10]" SITE "AG29";
LOCATE COMP "led[11]" SITE "AK30";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "led[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "led[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "led[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "led[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
